# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

#vivado files here
*.rtd
*.xdbg

#checkpoints
*.xci(www.spiritconsortium.org)
*.xci
*.dcp
*.vds
*.pb
#All bd comments and layout coordinates are stored within .ui
*.ui
*.ooc
#System Generator
*.mdl
*.slx
*.bxml
#Simulation logic analyzer
*.wcfg
*.coe
#MIG
*.prj
*.mem
*.jou
#Reports
*.rpt
*.txt
*.vdi
#C-files
*.c
*.h
*.elf
*.bmm
*.xmp

